<ion-header>

  <ion-navbar>
    <ion-title>vacancy-detailses</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="outer-content">


  <ion-list>

    <ion-list-header class="list-header-md-light text-full">
      <h2 class="" text-uppercase>
        {{vacancy?.name}}<ion-icon *ngIf="vacancy?.hot" name="flame" color="danger"  item-left></ion-icon>
      </h2>
    </ion-list-header>


    <ion-item>
      <ion-thumbnail item-left *ngIf="vacancy?.employer?.logo_urls?.view">
        <img [src]="vacancy?.employer?.logo_urls?.view">
      </ion-thumbnail>
      <h3>
        <ion-icon *ngIf="vacancy?.employer.contactName" name="ribbon" color="secondary"  item-Left></ion-icon>
        {{vacancy?.employer.name}}
      </h3>
    </ion-item>

    <ion-item *ngIf="vacancy?.employer.contactName">
      <ion-icon *ngIf="vacancy?.employer.contactName" name="person" color="dark" item-left></ion-icon>
      {{vacancy?.employer.contactName}}
    </ion-item>

    <ion-item *ngIf="vacancy?.employer.phones.length">
      <ion-icon *ngIf="vacancy?.employer.phones.length" name="phone-portrait" color="dark" item-left></ion-icon>
      {{vacancy?.employer.phones}}
    </ion-item>

    <ion-item *ngIf="vacancy?.employer.email">
      <ion-icon *ngIf="vacancy?.employer.email" name="mail" color="dark" item-left></ion-icon>
      {{vacancy?.employer.email}}
    </ion-item>

    <ion-list-header class="list-header-md-light">
      <b>Предлагаемая работа</b>
    </ion-list-header>

    <ion-item *ngIf="vacancy?.name" class="text-full">
      <b>Должность:</b> {{vacancy?.name}}
    </ion-item>
    <ion-item *ngIf="vacancy?.schedule.name">
      <b>График работы:</b> {{vacancy?.schedule.name}}
    </ion-item>
    <ion-item *ngIf="vacancy?.employment.name">
      <b>Тип работы:</b> {{vacancy?.employment.name}}
    </ion-item>

    <ion-list-header class="list-header-md-light">
      <b>Требования к кандидату</b>
    </ion-list-header>

    <ion-item *ngIf="vacancy?.education.name">
      <b>Образование:</b> {{vacancy?.education.name}}
    </ion-item>
    <ion-item *ngIf="vacancy?.experience.name">
      <b>Опыт работы:</b> {{vacancy?.experience.name}}
    </ion-item>
    <ion-item text-nowrap *ngIf="vacancy?.description" class="text-full">
      <b>Дополнительные сведения:</b>
      {{vacancy?.description}}
    </ion-item>

  </ion-list>

</ion-content>

