<!--
  Generated template for the VacanciesList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>vacancies-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header color="dark">
      {{name}}
    </ion-list-header>
    <!--(click)="presentPopover()"-->

    <ion-list-header *ngIf="children?.length" color="primary"  (click)="goVacanciesList()">
      Все вакансии
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-list-header>

    <!--<ion-list-header color="light" class="sub-ion-list-header">-->
      <!--Найденно вакансий-->
    <!--</ion-list-header>-->

    <ion-item *ngFor="let vacancy of vacancies" (click)="goToVacancyDetails(vacancy.id)">
        <h2><ion-icon *ngIf="vacancy.hot" name="flame" color="danger"></ion-icon> {{ vacancy.name }}</h2>
        <h3>
          <ion-icon *ngIf="vacancy?.employer.verified" name="ribbon" color="secondary"></ion-icon>
          {{vacancy?.employer.name}}
        </h3>
        <p>{{ vacancy.region.name }}</p>
        <p>{{ vacancy.published_at | date}}</p>

    </ion-item>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Загрузка вакансий...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
