<!--
  Generated template for the VacanciesList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>vacancies-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list approxItemHeight="100px">
    <ion-item *ngFor="let vacancy of vacancies" >
      <h2>{{ vacancy.name }}<ion-icon *ngIf="vacacncy?.hot" name="flame" color="danger"></ion-icon></h2>
      <h3>
        <ion-icon *ngIf="vacacncy?.employer.contactName" name="ribbon" color="secondary"></ion-icon>
        {{vacacncy?.employer.name}}
      </h3>
      <p>{{ vacancy.region.name }}</p>
      <p>{{ vacancy.published_at | date}}</p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Загрузка вакансий...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
